{
  "plugins": ["patternfly-react"],
  "extends": ["plugin:patternfly-react/recommended"],
  "rules": {
    "no-console": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
